div{
    height: 200px;
    width: 200px;
    background-color: rgb(128, 234, 248);
}

.divStyle{
    text-align: center;
}

.parag{
    background-color: rgb(243, 203, 142);
}

.newPara{
    background-color: red;
}