.box{
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */

    /* shorthand rule for above margin property  */
    /* margin: 50px 50px 50px 50px; */

    /* another shorthand rule  */
    margin : 20px 30px ;


    /* border-radius: 2px;
    border-style: dotted;
    border-color: red; */

    /* shorthand rule for above border property  */
    border: 2px dotted red;

 /* shorthand property same as margin */
    padding: 20px 30px 40px 60px;


    width: 200px;
}
