.trans{
    height: 50px;
    width: 50px;
    background-color: blue;
    transition :all 1s;
    margin-top: 100px;
    margin-left: 100px;
}

.trans:hover{
    /* transform: translate(30px,40px); */
    /* transform: skew(-40deg); */

    transform: rotate(330deg);

    /* transform: scale(3); */
}