#heading1{
    color: blue;
}

#heading2{
    color: brown;
}

#para1{
    color: chartreuse;
}

#para2{
    color: crimson;
}

.Red{
    color: red;
}
.Pink{
    /* custom coloring */
    /* color: royalblue; */
    
    /* hex-code coloring */
    /* color: #4d6b53; */

    /* rgb coloring */
    color: rgb(6, 99, 23);
}


