

div p a{
    color: purple;
}

a{
    color : peru;
}

#para1{
    background-color: purple;
}

.paragraph{
    background-color: red;
}

p{
    background-color: royalblue;
}

p{
    background-color: saddlebrown;
}