ul{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    top:0;
}

body{
    margin: 0;
}

li{
    float: left;
}

li a{
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    border-right: 1px solid blue;
    color: white;
}

li a:hover{
    background-color: blue;
}

div{
    padding:20px;
    margin-top:30px;
    background-color:#1abc9c;
    height:1500px;
}
#signup{
    float: right;
}